/* BANNER */
/* Esto es el slider */

.slider_banner{
    width: 100%;
    height: 450px;
    margin: 0;
    overflow: hidden;
}

.slider_banner ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 30s infinite ;
}

.slider_banner li{
    width: 100%;
    list-style: none;
    position: relative;
}

.slider_banner img{
    width: 100%;
    
}

 @keyframes slide{
    0%{
        margin-left:0;
    }
    10%{
        margin-left:0;
    }
    50%{
        margin-left:-100%;
    }
    95%{
        margin-left: -200%;
    }
    100%{
        margin-left: -200%;
    }
    
}

/* Categorias  */

h1{
    text-align: center;
    font-size: 45px;
    padding: 40px 0 0 0;
    color: rgb(45, 6, 6);
}

.titulo_categoria {
    text-align: center;
    font-size: 45px;
    padding: 40px 0 0 0;
    color: #fff;
}

h4{
    text-align: center;
    font-size: 18px;
    padding: 0 0 50px 0;
    margin-top: 20px;
    color: rgba(10, 10, 10, 0.719);
    
}
.subcategoria{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-auto-rows: 500px;
    padding: 10px 100px;
    grid-gap: 20px;
}

.img_moda{
    position: relative;
}

.galeria_img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.titulo_img{
    position: absolute;
    top: 200px;
    margin: 0;
    
    background: linear-gradient(rgba(214, 214, 214, 0.479), rgba(158, 158, 158, 0.61));
    width: 100%;
    padding: 20px;
   
}

.titulo_img h2{
    font-size: 30px;
    margin-bottom: 10px;
    
}
.titulo_img h5{
    font-size: 17px;
    color: rgba(102, 6, 6, 0.801);
    margin-bottom: 20px;
}
.titulo_img a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(0, 0, 0);
    margin: 0 0 0 40px;
    padding: 5px;
    border-bottom: solid 2px #570303 ;
}

.titulo_img a:hover{
    background: #570303;
    color: #f1efef;
}

/* SESION DE PRODUCTOS */

.sesion_productos{
    margin: 0;
}

.titulo_produc{
    text-align: center;
    font-size: 20px;
    margin: 40px 0 10px 0;
}

.subproductos{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.contenido_producto{
    width: 20%;
    height: 420px;
    margin: 10px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .3s;
    background: #f1efef;
}
.contenido_producto:hover{
    box-shadow:  0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -30px);  
}

.img_produc{
    width: 300px;
    height: 210px;
    text-align: center;
    margin: 0 auto;
    padding: 0 30px 0 0 ;
    display: block ;
}
span{
   margin: 20px 0 0 0 ;
}
.puntaje{
    color: #770808;
    margin: 10px 0 20px 0;
    display:inline-block;
}

.btn_1{
    width: 60%;
    padding: 10px;
    font-size: 15px;
    background: #520303e7;
    border: none;
    border-radius: 50px;
    color: #f1efef;
}
.btn_1:hover{
    background: #960303f6;
}


/* Sesion publicidad */

.publicidad{
    background: #000000ea;
    height: 100%;
    padding: 30px ;
   
}
.galeria-img{
    width: 90%;
    max-width: 1100px;
   margin: 28px auto;
    gap: 30px;
    display: grid;
    /* Auto fit rellana las columnas que necesita*/
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.galeria_text{
    color: #fff;
    font-size: 40px;
    text-align: center;
}


.galeria-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Sesion nosotrso  */

.nosotros{
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.contenido_nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.img_nosotros{
    flex: 1;
    overflow: hidden;
}

.img_nosotros img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}

.img_nosotros:hover img{
     transform: scale(1.1);
}

.texto_nosotros{
    flex: 1;
}

.texto_nosotros .texto_nos{
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.texto_nosotros p{
    font-size: 17px;
    line-height: 1.5;
    color: #444444;
    text-align: justify;
}


/* Modo oscuro */

.sesion_categorias.active {
  background: rgb(75, 75, 75);
}

.sesion_categorias.active p {
  color: #fff;
}

.sesion_categoriasr.active a:hover {
  color: #f12e07;
}

.sesion_productos.active {
  background: rgb(75, 75, 75);
}

.sesion_productos.active p {
  color: #fff;
}

.sesion_productos.active button:hover {
  background-color: #3c871e;
}

.titulo_produc.active {
  color: #000000;
}

.info span.active {
  color: #000000;
}

.nosotros.active {
  background: rgb(75, 75, 75);
}

.nosotros.active p {
  color: #fff;
}

body.active h1, 
body.active h2, 
body.active h4, 
body.active h5 {
  color: #fff;
}

/* hacer responsive */

@media screen and (max-width: 1200px) {
    .sesion_categorias {
      width: 100%;
      padding: 10px;
    }
  
    .sesion_productos {
      width: 100%;
      padding: 10px;
    }
  
    .nosotros {
      width: 100%;
      padding: 10px;
    }
    
    .contenido_producto{
        width: 30%;
        padding: 20px;
        margin: 20px auto;
    }

    .img_produc{
        width: 100%;
        padding: 0;
        object-fit:f ill;
    }
    
}

@media (max-width: 768px) {

    .slider_banner {
      height: 200px;
      margin: 0 auto;
    }


    .sesion {
        flex-direction: column;
        align-items: center;
    }

    .sesion_categorias {
        width: 100%;
        padding: 10px;
    }

    .sesion_categorias.active {
        height: 100vh;
    }

    .sesion_productos {
        width: 100%;
        padding: 10px;
    }

    .nosotros {
        width: 100%;
        padding: 10px;
    }

    .galeria-img {
        flex-wrap: wrap;
        justify-content: center;
    }

    .galeria-img img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        margin: 10px;
    }

    .galeria-img img:nth-child(1) {
        height: 100vh;
    }

    .contenido_producto{
        width: 80%;
        padding: 20px;
        margin: 20px auto;
    }

    .img_produc{
        width: 100%;
        padding: 0;
        object-fit:f ill;
    }

    .subcategoria{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    grid-auto-rows: 500px;
    padding: 10px 100px;
    grid-gap: 20px;
    }

    .subcategoria h2 {
        font-size: 20px;
    }

    .subcategoria h5 {
        font-size: 12px;
    }

    .subcategoria a {
        font-size: 12px;
    }


}


@media screen and (max-width: 410px) {
  
    .slider_banner {
      height: 200px;
      margin: 0 auto;
    }

    .sesion_categorias {
      width: 100%;
      padding: 10px;
      margin: 0 auto;
    }

    .subcategoria{
        display: grid;
        grid-template-columns:repeat(1, 1fr);
        grid-auto-rows: 500px;
        padding: 10px 100px;
        grid-gap: 20px;
    }

    .subcategoria h2 {
      font-size: 20px;
    }

    .subcategoria h5 {
      font-size: 12px;
    }

    .subcategoria a {
      font-size: 12px;
    }
}